@import 'tailwindcss/tailwind.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';


@font-face {
  font-family: "Routhem";
  src: url("/fonts/Routhem.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
html{
  scroll-behavior: smooth;
}


body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
